.form {
  display:flex;
  margin: 0 0 10px 0;
  
  &__item {
    width:200px;
    background-color: rgb(240, 240, 240);
    border-right: 6px solid white;
    border-bottom: 3px solid white;
    padding: 0 10px;
    &--area {
      width:200px;
      height:45px;
      background-color: rgb(240, 240, 240);
      border-right: 6px solid white;
      border-bottom: 3px solid white;
      padding: 0 10px;
    }
  }
  &__text {
    width: 70%;
  }
  

  #task_trouble_content {
    width: 500px;
  }
  #task_correspondence{
    width: 500px;
  }
}